@font-face {
  font-family: "Roboto";
  src: url(Roboto-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand-Regular.ttf) format("ttf");
}
body {
  position: relative;
  opacity: 1;
  animation: background-body 1s;
}

footer h1 {
  font-family: "Shrikhand", arial, sans-serif;
}

footer ul {
  font-family: "Roboto", Arial, sans-serif;
}

body main {
  font-family: "Roboto", Arial, sans-serif;
}

header {
  text-align: center;
}
header img {
  width: 50%;
  padding: 15px;
}
header .icon-arrow {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 20px;
  color: black;
}

.location {
  font-family: "Roboto", arial, sans-serif;
  background-color: #F2F2F2;
  height: 335px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  border-top: 3px solid #C6C6C6;
}
.location h1 {
  font-size: 25px;
  padding-bottom: 5px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  margin: 10px 45px 15px 45px;
}
.location--text {
  font-size: 18px;
  padding-bottom: 60px;
  color: #636363;
}
.location--place {
  font-size: 15px;
  background-color: #E1E1E1;
  width: 100%;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.location--icon {
  padding-right: 15px;
  font-size: 20px;
}
.location--explorer--bouton {
  cursor: pointer;
  border: 1px solid pink;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  background: rgb(2, 0, 36);
  background: linear-gradient(353deg, rgb(2, 0, 36) 0%, rgb(232, 110, 193) 66%, rgb(222, 105, 186) 87%, rgb(255, 121, 208) 100%, rgb(0, 212, 255) 100%);
  margin: 15px;
  padding: 15px;
}

.howto {
  margin: 20px;
}
.howto h1 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.howto ol {
  width: 100%;
  margin: auto;
  list-style: none;
  font-size: 16px;
  list-style: none;
  counter-reset: li;
  font-weight: bold;
}
.howto li {
  border: 1px solid #F2F2F2;
  height: 70px;
  margin: 5px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
  padding: 25px;
  padding-left: 10px;
  counter-increment: li;
}
.howto li::before {
  content: counter(li);
  border: 1px solid #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356DC;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  position: relative;
  left: -19px;
  color: white;
}
.howto .menu {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: -21px;
  left: 20px;
}
.howto .icon-menu {
  padding-right: 25px;
  color: #939393;
  font-size: 20px;
}

.restaurants {
  background-color: #F2F2F2;
  padding: 20px;
}
.restaurants-title {
  font-weight: bold;
  font-size: 25px;
  padding-left: 18px;
  padding-top: 55px;
  padding-bottom: 20px;
}

.title--first {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 20px;
}
.title--second {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  padding-top: 20px;
  margin-bottom: 15px;
}
.title--flex {
  display: flex;
  justify-content: space-between;
}
.title--heart-icon-menu {
  font-size: 25px;
  padding-right: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  padding-left: 25px;
  padding-bottom: 20px;
}
footer h1 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}
footer ul {
  list-style-type: none;
}
footer li {
  font-size: 16px;
  padding-bottom: 12px;
  cursor: pointer;
  color: white;
}
footer .footer-icon {
  padding-right: 14px;
  font-size: 14px;
}
footer .ustensils-icon {
  font-size: 18px;
  padding-right: 15px;
}

.container-page {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #E1E1E1;
  overflow: hidden;
  position: relative;
  top: -80px;
  border-radius: 30px 30px 0px 0px;
  padding-top: 25px;
  margin-bottom: -80px;
}

.order--button {
  border: 1px solid pink;
}

.hide {
  display: none;
}

.frame {
  border: 1px solid white;
  width: 100%;
  background-color: white;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
}
.frame--flex {
  display: flex;
  justify-content: space-between;
}

article h2 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}
article p {
  font-size: 15px;
}

.animation-menu {
  animation: animation-menu 1000ms forwards ease-out;
  opacity: 0;
}
.animation-menu--1 {
  animation-delay: 300ms;
}
.animation-menu--2 {
  animation-delay: 600ms;
}
.animation-menu--3 {
  animation-delay: 900ms;
}
.animation-menu--4 {
  animation-delay: 1200ms;
}

.card {
  height: 250px;
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.card a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}
.card--img {
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.card--img img {
  width: 100%;
  object-fit: cover;
  height: 175px;
  object-position: 50% 50%;
}
.card--img--new {
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 10px;
}
.card--img--new__text {
  color: #098c6c;
  font-weight: bold;
}
.card--info {
  margin: 10px;
  position: relative;
}
.card--info h1 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card--info p {
  font-size: 18px;
}
.card--info--heart-icon {
  position: absolute;
  top: 85%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.order {
  text-align: center;
}
.order--button {
  cursor: pointer;
  border: 1px solid pink;
  padding: 15px;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  margin: 30px;
  font-size: 15px;
  background: linear-gradient(353deg, rgb(2, 0, 36) 0%, rgb(232, 110, 193) 66%, rgb(222, 105, 186) 87%, rgb(255, 121, 208) 100%, rgb(0, 212, 255) 100%);
  font-weight: bold;
}

main .img-menu {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@keyframes animation-menu {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes background-body {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  position: relative;
}

.loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: spinner 3s;
  opacity: 0;
}
.loader--loading-spinner--quart {
  display: inline-block;
  border-radius: 50px;
  border: 10px solid green;
  width: 90px;
  height: 90px;
}
.loader--loading-spinner--quart::after {
  content: "";
  height: 90px;
  width: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px solid transparent;
  border-top-color: black;
  border-radius: 50px;
  animation: loading-spinner 1000ms linear 3;
}

/*# sourceMappingURL=style.css.map */
