@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Shrikhand';
    src: url(Shrikhand-Regular.ttf) format('ttf');
}

    @import "./utils/mixin.scss";
    @import "./utils/variable.scss";

    @import "./base/body.scss";
    @import "./base/typography";
    
    @import "./layout/header.scss";
    @import "./layout/section";
    @import "./layout/footer";
    @import "./layout/main";
    @import "./layout/article";

    @import "./composants/card"; 
    @import "./composants/button";  
    
    @import "./pages/la-note-enchantee";

    @import "./composants/keyframe"

