@font-face {
    font-family: 'Roboto';
    src: url(docs/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url(docs/Shrikhand-Regular.ttf) format('truetype');
}

    @import "./utils/mixin.scss";
    @import "./utils/variable.scss";

    @import "./base/body.scss";
    
    @import "./layout/header.scss";
    @import "./layout/section";
    @import "./layout/footer";
    @import "./layout/main";
    @import "./layout/article";

    @import "./composants/card";   
    
    @import "./pages/la-note-enchantee"

