.container-page{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f6f6f6;
    overflow: hidden;
    position: relative;
    top: -80px;
    border-radius: 30px 30px 0px 0px;
    padding-top: 25px;
    margin-bottom: -80px;
}

.order{
    &--button{
    @include border (0,pink)
    }
}

@media (min-width:992px) {
    .container-page{
        max-width: 70%;
        margin: auto;
        margin-bottom: -80px;
    }
    
}

