.order{
    text-align: center;
    &--button{
        cursor: pointer;
        padding: 15px;
        border-radius: 30px;
        padding-left: 50px;
        padding-right: 50px;
        color: white;
        margin: 30px;
        font-size: 15px;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        background-color: #686868;
        font-weight: bold;
        transition-duration: 0.2s;
        &:hover{
          background-color: white;
          box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
        }
      }
}