.card{
    height: 250px;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    & a{
        display: inline-block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black;
    }
    &--img{
        width: 100%;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        & img{
            @include img-size;
        }
        &--new{
            @include new;
            &__text{
                @include new-text;
            }
        }
        
    }
    &--info{
    margin: 10px;
    position: relative;
        & h1{
            font-weight: bold;
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        & p{
            font-size: 18px;
        }
        &--heart-icon{
            position: relative;
            cursor: pointer;
            &--main{
            @include heart-position;
            }
            &--background{
                @include heart-position;
            & .fa-regular.fa-heart{
                font-weight: bold;
                background-image: linear-gradient(purple,pink);
                -webkit-background-clip: text;
                color: transparent;
                transform-origin: center;
                transform: scale(0);
                }
            &:hover .fa-regular.fa-heart{
                animation: filling-heart 250ms ease-in-out forwards;
            }
            }
            }
            }
}
    