@keyframes animation-menu {
    from{
        opacity: 0;
        transform: translateY(50%);
        }
    to{
        opacity: 1;
        transform: translatey(0%);

    }
}

@keyframes loading-spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader-background {
    0%{
      display: block;
      opacity: 1;
      z-index: 1000;
    }
    70%{
      opacity: 1;
    }
    100%{
      display: block;
      opacity: 0;
    }
  }

@keyframes spinner {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes filling-heart {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}