body{
    position: relative;
}

.loader{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: spinner 3s;
    opacity: 0;
    &--loading-spinner{
        &--quart{
        display: inline-block;
        border-radius: 50px;
        border: 10px solid green;
        width: 90px;
        height: 90px;        
        &::after{
            content: "";
            height: 90px;
            width: 90px;
            position: absolute;
            top: 0px;
            left: 0px;
            border: 10px solid transparent;
            border-top-color: black;
            border-radius: 50px;
            animation: loading-spinner 1000ms linear 3;
        }
        }
    }
}

