body{
    position: relative;
}

.screen{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #dddddd;
    z-index: -1;
    opacity: 0;
    animation: loader-background 3s forwards;
}

.wrapper-spinner{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.loader{
    position: absolute;
    animation: spinner 3s;
    opacity: 0;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    &--loading-spinner{
        &--quart{
        display: inline-block;
        border-radius: 50px;
        border: 10px solid white;
        width: 90px;
        height: 90px;        
        &::after{
            content: "";
            height: 90px;
            width: 90px;
            position: absolute;
            top: 0px;
            left: 0px;
            border: 10px solid transparent;
            border-top-color: black;
            border-radius: 50px;
            animation: loading-spinner 1000ms linear 3;

        }
        }
    }
}

