@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

footer h1{
    font-family: 'Shrikhand', cursive;
}

footer ul{
    font-family: 'Roboto', Arial, sans-serif;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
}
