@mixin border($color: $color-primary, $border: $border-fixe) {
    border: $border solid $color;
}

@mixin img-size { 
    width: 100%;
    object-fit: cover;
    height: 175px;
    object-position: 50% 50%;
}

@mixin new {
    background-color: $color-terciary;
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 10px;
}

@mixin new-text {
    color: $color-new-text;
    font-weight: bold;
}