@mixin border($color: $color-primary, $border: $border-fixe) {
    border: $border solid $color;
}

@mixin img-size { 
    width: 100%;
    object-fit: cover;
    height: 175px;
    object-position: 50% 50%;
}

@mixin new {
    background-color: $color-terciary;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
}

@mixin new-text {
    color: $color-new-text;
    font-weight: bold;
}

@mixin heart-position {
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 25px;
    @media (min-width:768px) {
        font-size: 30px;
        top: -75px;
    }
}

@mixin heart-position-menu {
    position: absolute;
    top: 0px;
    font-size: 25px;
    @media (min-width:768px) {
        font-size: 25px;
        top: 0px;
    }
}